body[data-theme=red] {
  --header-bg-color: #f14646;
  --header-font-color: #ffffff;
  --main-bg-color: #fb9f9f;
  --main-font-color1: #ffffff;
  --main-font-color2: #ffffff;
}

body[data-theme=pink] {
  --header-bg-color: #ff69b4;
  --header-font-color: #ffffff;
  --main-bg-color: #ffb3cc;
  --main-font-color1: #ffffff;
  --main-font-color2: #ffffff;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}

* {
  box-sizing: border-box;
}

.not-support {
  display: none;
  text-align: center;
  padding: 30px 0;
  color: var(--main-font-color2);
}

.layout {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.header {
  position: relative;
  height: 60px;
  line-height: 60px;
  background-color: var(--header-bg-color);
  background-image: url(./arches.png);
  box-shadow: 0 1px 2px 0 var(--header-bg-color);
}

.app-name {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 60px;
  line-height: 60px;
  padding-left: 10px;
}

.app-name svg {
  width: 24px;
  vertical-align: middle;
  cursor: pointer;
}

.app-name span {
  margin-left: 10px;
  vertical-align: middle;
  font-size: 24px;
  font-weight: 700;
  color: var(--header-font-color);
  cursor: pointer;
}

.main {
  display: flex;
  position: relative;
  height: calc(100% - 60px);
  background: var(--main-bg-color);
  background-image: url(./brick-wall.png);
}

.love-time-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.love-declaration {
  position: absolute;
  background-color: rgba(208, 78, 164, 0.2);
  border-radius: 8px;
  z-index: 3;
}

.love-declaration > h4 {
  width: 100%;
  font-size: 40px;
  color: var(--main-font-color1);
}

.love-declaration > p {
  width: 100%;
  font-size: 32px;
  color: var(--main-font-color1);
}

.love-img {
  position: absolute;
  z-index: 2;
}

.love-time {
  position: absolute;
  background-color: rgba(208, 78, 164, 0.2);
  border-radius: 8px;
  color: var(--main-font-color2);
  text-align: center;
  z-index: 1;
}

.love-time > span {
  font-weight: 700;
  color: var(--main-font-color2);
}

/* 不支持的设备 (宽度小于350px) */
@media only screen and (max-width: 300px) {
  .not-support {
    display: block;
  }
  .layout {
    display: none;
  }
}

  /* 小型设备 (手机, 宽度大于300px且小于600px) */
@media only screen and (min-width: 300px) and (max-width: 600px) {
  .layout {
    min-height: 800px;
  }

  .love-declaration {
    top: 2%;
    left: 2%;
    width: 96%;
    padding: 0px 16px;
  }

  .love-declaration > p {
    font-size: 16px;
  }

  .love-time {
    bottom: 2%;
    left: 20%;
    width: 60%;
    padding: 10px;
    font-size: 14px;
  }

  .love-time > span {
    font-size: 16px;
  }

  .love-time > .br {
    display: block;
  }

  .love-img {
    bottom: 8%;
    right: -10%;
    width: 100%;
  }

  .love-img > img {
    width: 100%;
  }
}

/* 中型设备 (平板和手机, 大于600px且小于992px) */
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .layout {
    min-height: 1040px;
  }

  .love-declaration {
    top: 2%;
    left: 2%;
    width: 96%;
    padding: 10px 30px;
  }

  .love-declaration > p {
    font-size: 20px;
  }

  .love-time {
    bottom: 2%;
    left: 2%;
    width: 96%;
    padding: 10px;
  }

  .love-time > .br {
    display: block;
  }

  .love-img {
    bottom: 250px;
    right: -10%;
    width: 100%;
  }

  .love-img > img {
    width: 80%;
    translate: 10% 20%;
  }
}

/* 大型设备 (笔记本电脑和台式机, 大于992px且小于1200px) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .layout {
    min-height: 1000px;
  }

  .love-declaration {
    top: 5%;
    left: 5%;
    width: 50%;
    padding: 10px 30px;
  }

  .love-declaration > p {
    font-size: 20px;
  }

  .love-time {
    top: 780px;
    right: 20px;
    padding: 10px;
  }

  .love-img {
    top: 100px;
    right: 0;
    width: 50%;
    text-align: right;
  }

  .love-img > img {
    width: 500px;
  }
} 

/* 超大型设备 (大型笔记本和台式机, 大于1200px) */
@media only screen and (min-width: 1200px) {
  .layout {
    min-height: 1000px;
  }

  .love-declaration {
    top: calc(50% - 400px);
    left: calc(33% - 366px);
    width: 600px;
    padding: 10px 30px;
  }

  .love-declaration > p {
    font-size: 20px;
  }

  .love-time {
    bottom: calc(50% - 350px);
    right: calc(33% - 366px);
    padding: 20px;
  }

  .love-img {
    top: calc(50% - 350px);
    right: calc(33% - 366px);
  }

  .love-img > img {
    width: 500px;
  }
}
